body {
  align-items: center;
  justify-content: center;
  display: flex;
  font-variant-caps: all-petite-caps;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
  margin: 0;
  flex-direction: column;
  
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 40px 0;
}

.container .card{
  position: relative;
  width: 320px;
  height: 440px;
  border-radius: 15px;
  margin: 30px;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
              inset -5px -5px 5px rgba(255,255,255,0.5),
              5px 5px 5px rgba(0,0,0,0.05),
              -5px -5px 5px rgba(255,255,255,0.5);
}

.container .card .box{
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.container .card:hover .box{
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
  background: #2F343A;
  color: #DDDDDD;
}
.container .card .box .content{

  padding: 20px;
  text-align: center;
}

.container .card .box .content h2{
  position: absolute;
  top: -0.2em;
  right: 10px;
  font-size: 4em;
  color: #2f343a18;
  transition: 0.5s;
}

.container .card:hover .box .content h2{
  color: #DDDDDD;
}

.container .card .box .content h3{
  font-size: 1.8em;
  color: #2F343A;
  z-index: 1;
  transition: 0.5s;
}

.container .card .box .content p{
  font-size: 1em;
  font-weight: 300;
  color: #2F343A;
  z-index: 1;
  transition: 0.5s;
}
.container .card:hover .box .content p{
  color: #DDDDDD;

}

.container .card:hover .box .content h3{
  color: #DDDDDD;

}

img.social {
  position: relative;
  bottom: -40px;
  margin: -4em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  position: relative;
  bottom: -2em;
  font-family: 'Poppins', sans-serif;
  color: #dddddd;
}

.navbar {
  display: flex;
  align-self: flex-start;
  width: 100%;
  height: 5em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #BDB69C;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  margin-bottom: 5em;
  
}

.nav-list {
  display: flex;
  list-style-type: none;
}

ul.nav-list {
  align-items: center;
  justify-content: center;
  width: inherit;
  width: auto;
  gap: 10em;
  font-family: 'Poppins', sans-serif;

}

li {
  padding: inherit;
 }

.nav-list li a {

  text-decoration: none;
  font-weight: lighter;
  border-radius: 20px;
  font-size: 50px;
  font-variant-caps: all-petite-caps;
  padding-bottom: 9px;
  background: rgba(248, 249, 249, 0);
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

.nav-list li a:hover {
  color: #2F343A;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #80CEB9 50%, #41AAC4 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.contents {

  border-radius: .25em;
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(25%);
  }
}